* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

.margin{
  margin: 0 auto;
}

/*STYLE*/

header nav{
  background-color: rgb(0, 132, 253);
  width: 100vw;
  height: 5vh;
}

header nav div{
  background-color: rgb(0, 132, 253);
  width: calc(100vw / 2);
  height: 5vh;
  border: 1px dotted black;
}

/*CONTAINER 1*/

.c-1{
  background-color: bisque;
  width: 60vw;
  margin-top: 50px;
  justify-content: center;
  align-items: flex-start;
  gap: 1vw;
}

.square{
  background-color: blueviolet;
  width: 15vw;
  height: 30vh;
  border: 1px solid black;
  border-radius: 20px;
}

.square:first-child{
  background-color: blue;
  width: 31vw;
}

/*CONTAINER 2*/

.c-2{
  background-color: rgb(151, 146, 228);
  width: 100vw;
  height: 70vh;
  margin-top: 50px;
  justify-content: center;
}

.c-2 .container{
  width: 30vw;
  height: 500px;
  margin-top: 50px;
}

.c-2 .col{
  background-color: cyan;
  width: calc(30vw / 2);
  height: 60vh;
  border: 1px dotted black;
}

.c-2 .col .text1{
  background-color: burlywood;
  width: calc(30vw / 2);
  height: 20vh;
  align-self: flex-end;
}

.c-2 .card{
  background-color: white;
  width: calc(30vw / 2);
  height: 40vh;
  align-self: flex-end;
  border-radius: 20px;
}

/*CONTAINER 3*/

.c-3{
  background-color: bisque;
  width: 60vw;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.c-3 .text1{
  background-color: chocolate;
  width: 40vw;
  height: 5vh;
  border: 1px dotted black;
}

.c-3 .text2{
  background-color: chocolate;
  width: 50vw;
  height: 5vh;
  border: 1px dotted black;
}

.c-3 .text3{
  background-color: chocolate;
  width: 60vw;
  height: 5vh;
  border: 1px dotted black;
}

.c-3 .c-text{
  background-color: rgb(151, 146, 228);
  width: 60vw;
  height: 25vh;
  border-radius: 40px;
}

/*CONTAINER 4*/

.c-4{
  background-color: rgb(151, 146, 228);
  width: 100vw;
  height: 1000px;
  margin-top: 50px;
}

.c-4 .container{
  background-color: darkolivegreen;
  width: 60vw;
  margin-top: 50px;
}

.c-4 .c-title{
  background-color: blue;
  width: 30vw;
  height: 5vh;
}

.c-4 .c-card{
  justify-content: space-between;
}

.c-4 .card{
  background-color: white;
  width: calc(58vw / 3);
  height: 40vh;
  border-radius: 10px;
}

/*CONTAINER 5*/

.c-5{
  background-color: bisque;
  width: 60vw;
  margin-top: 50px;
}

.c-5 .col1{
  background-color: cyan;
  width: 40vw;
  padding-left: 40px;
}

.c-5 .col2{
  background-color: burlywood;
  width: 20vw;
}

.c-5 .title{
  background-color: blueviolet;
  width: 20vw;
  height: 10vh;
}

.c-5 .text1{
  background-color: darkgoldenrod;
  width: auto;
  height: 20vh;
}

.c-5 .text2{
  background-color: gold;
  width: auto;
  height: 20vh;
}

/*CONTAINER 6*/

.c-6{
  background-color: rgb(151, 146, 228);
  width: 100vw;
  height: 50vh;
  margin-top: 100px;
}

.c-6 .container{
  background-color: darkolivegreen;
  width: 30vw;
  flex-direction: column;
  align-items: center;
}

.c-6 .title1{
  background-color: crimson;
  width: 10vw;
  height: 5vh;
}

.c-6 .title2{
  background-color: darkgreen;
  width: 20vw;
  height: 8vh;
}

.c-6 .title3{
  background-color: hotpink;
  width: 20vw;
  height: 10vh;
}

.c-6 .text1{
  background-color: lightsalmon;
  width: 20vw;
  height: 8vh;
}

.c-6 .button{
  background-color: white;
  width: 10vw;
  height: 7vh;
  border-radius: 40px;
}

.c-6 .text2{
  background-color: darkmagenta;
  width: 20vw;
  height: 5vh;
}